.header {
	background-color: yellow;
}

.toggle-display {
	text-align: center;
	padding: 5px;
}

.toggle-display > button {
	font-size: 24px;
}

.toolbar {
	text-align: center;
	padding: 5px;
}

.toolbar > a {
	font-size: 24px;
	padding: 10px;
}