<!--Replaced this with the Angular template for states component of CS142 Project #4
    Problem #2.-->
<div>
	<h1>Problem 2: States View</h1>
	<p>This component view displays, in alphabetical order, the names of all states containing a given substring.</p>
	<h3>Input substring</h3>
	<label class="cs142-example-output">
		<input type="text" ng-model="substring">
	</label>
	<h3>Substring used to filter states</h3>
	<p>{{substring}}</p>
	<h3>Matching states</h3>
	<!-- See: http://stackoverflow.com/a/18593018 -->
	<ul class="cs142-states-list" ng-repeat="state in filteredStates = (states | filter:substring)">
		<li>{{state}}</li>
	</ul>
	<li ng-show="!filteredStates.length">No matches found</li>
</div>