* {
    font-size: 20px;
}

body {
    
    margin: 2em;
    font-family: 'Barlow Semi Condensed', "Helvetica Neue", Helvetica;
}

h1 {
    font-size: 48px;
}

#heatmap-info {
	width: 400px;
	height: 500px;
	border-style: black; 
	border-width: 2px; 
	text-align: center; 
	background-color: lightblue;
	border-radius: 5px;
}

#track-track-ctr {
	padding-left: 100px;
}

.description-text {
	font-weight: 700;
}

.track-text {
	font-weight: 400;
}

.track-track-header {
	margin-top: 15px;
	padding-top: 20px;
	font-size: 170%;
	margin-bottom: 20px;
}
/*#chart {
    position: absolute;
    top: 50px;
    left: 250px;
}*/

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px;
}

#col1 {
    width: 200px;
}

.column {
    float: left;
    margin: 2%;
}

#classSearch {
    font-size: 1em;
    width: 90%;
}

#selectable {
    width: 90%;
}

#submitBtn {
    width: 90%;
    font-size: 20px;
}

#heatmap {
	margin-bottom: 10;
}

#heatmap-info {
	min-width: 1000px;
}

rect.bordered {
    stroke: white;
    stroke-width:2.5px;   
  }

  text.mono {
    font-size: 10pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.axis-workweek {
    fill: #000;
  }

  text.axis-worktime {
    fill: #000;
  }

#feedback { font-size: 1em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 90%; }
#selectable li {
    margin: 0.1em;
    padding: 0.4em;
    font-size: 1em;
    /*height: 1em;*/
}