body {
    overflow: hidden;
    margin: 2em;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#chart {
    position: absolute;
    top: 50px;
    left: 250px;
}

#feedback { font-size: 1em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 10%; }
#selectable li { margin: 0.1em; padding: 0.4em; font-size: 1em; height: 1em; }